

.single-product-section{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);

}
.left-product-image{
    flex-basis: 50%;
}
.left-product-image img{
    width: 100%;

}

.right-about-product{
    padding-left: 1.2rem;
    flex-basis: 50%;
    align-self: self-start;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.color-varient{
    display: flex;
}

.color-varient .color-choice-1{
    border: 1px solid rgb(45, 45, 45);
    border-radius: 100%;
    max-width: 40px;
    height: 40px;
}

.right-about-product p{
    line-height: 1.8rem;
}