

.single-product-section{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);

}
.left-product-image{
    flex-basis: 50%;
}
.left-product-image img{
    width: 100%;

}

.right-about-product{
    padding-left: 1.2rem;
    flex-basis: 50%;
    align-self: self-start;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/* color varient css start from here  */

.color-varient{
    display: flex;
    column-gap: 15px;
}



.color-varient .color-choice{
    /* border: 1px solid rgb(45, 45, 45); */
    border-radius: 100%;
    padding: 10px 7px;
    min-height: 24px;
    min-width: 24px;
}

.color-varient .color-choice:hover{
    cursor: pointer;
    outline: 1px solid #111111;
    outline-offset: 4px;
}


.color-choice-1{
    background-color: rgb(191, 55, 55);
}

.color-choice-2{
    background-color: rgb(0, 146, 129);
}

.color-choice-3{
    background-color: rgb(117, 0, 143);
}

.right-about-product p{
    line-height: 1.8rem;
    font-size: 19px;
    font-weight: 500;
}

.color-varient input{
    display: none;
}